.movie-details {
    padding: 20px;
}

.movie-details .movie-poster {
    width: 220px;
}

.movie-details .title {
    font-size: 35px;
    margin-bottom: 5px;
}

.movie-details .details {
    font-size: 18px;
    margin-bottom: 10px;
}

.movie-details .rating {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}
