* {
    box-sizing: border-box
}

.ant-card-body {
    padding: 10px;
    font-size: 10px;
}

@import './components/siderbar';
@import './components/login';
@import './components/profile';
@import './components/movie';